@media (max-width: 426px) {
    html {
        font-size: 14px;
        scroll-behavior: smooth;
    }

    #public-layout {
        min-height: 100vh;
        width: 100vw;

        &>#actualites {
            background-color: #F4F4F4;
            width: 100vw;
            display: flex;
            flex-direction: column;

            &>header {
                margin-top: 16vh;
                padding: 4em;
                display: flex;
                flex-direction: column;
                gap: 2em;

                h1 {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 3em;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-decoration: underline #FDCD11 0.1em;
                    color: #034076;
                }
                nav {
                    ul {
                        display: flex;
                        flex-direction: row;
                        gap: 0.2em;
                        li {
                            font-family: 'Open Sans', sans-serif;
                            font-size: 1.1em;
                            a {
                                text-decoration: none;
                                font-family: 'Open Sans', sans-serif;
                                font-size: 1.1em;
                                color: #034076;
                                border-bottom: 0.1em solid #034076;
                            }
                            span {

                                font-family: 'Open Sans', sans-serif;
                            }
                        }
                    }
                }
            }

            &>section:first-of-type {
                display: grid;
                grid-template-columns: 0.1fr 0.8fr 0.1fr;
                background-color: #F4F4F4;
                padding-bottom: 2em;

                &>section {
                    grid-column: 2/3;
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 2em;

                    article {
                        display: flex;
                        flex-direction: column;
                        gap: 1em;
                        padding: 1em;
                        background-color: white;
                        border-radius: 0.5em;

                        figure {
                            width: 100%;
                            height: 100%;
                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: 0.5em;
                            }
                        }

                        header {
                            display: flex;
                            flex-direction: row;
                            gap: 1em;

                            a {
                                font-family: 'Roboto', sans-serif;
                                font-size: 1em;
                                background-color: #034076;
                                color: white;
                                border-radius: 1em;
                                text-decoration: none;
                                padding: 0.5em;
                            }
                            span {
                                font-family: 'Roboto', sans-serif;
                                font-size: 1em;
                                align-self: center;
                            }
                        }
                        h3 {
                            font-family: 'Roboto', sans-serif;
                            font-size: 1.5em;
                            font-weight: 800;
                            text-transform: uppercase;
                            cursor: pointer;
                            display: -webkit-box;
                            -webkit-line-clamp: 1; /* number of lines to show */
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            padding-bottom: 0.25em;
                        }
                        
                        h3:hover{
                        transform: scale(1.02);
                        transition: 0.5s;
                        z-index: 2;
                        color: #034076;
                        }
                        p {
                            font-family: 'Roboto', sans-serif;
                            font-size: 1.2em;
                            padding-bottom: 0.8em;
                            display: -webkit-box;
                            -webkit-line-clamp: 2; /* number of lines to show */
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }

                    }
                }
            }
        }
    }
}

@media (min-width: 427px) and (max-width: 767px) {
    html {
        font-size: 14px;
        scroll-behavior: smooth;
    }

    #public-layout {
        min-height: 100vh;
        width: 100vw;

        &>#actualites {
            background-color: #F4F4F4;
            width: 100vw;
            display: flex;
            flex-direction: column;

            &>header {
                margin-top: 16vh;
                padding: 4em;
                display: flex;
                flex-direction: column;
                gap: 2em;

                h1 {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 3em;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-decoration: underline #FDCD11 0.1em;
                    color: #034076;
                }
                nav {
                    ul {
                        display: flex;
                        flex-direction: row;
                        gap: 0.2em;
                        li {
                            font-family: 'Open Sans', sans-serif;
                            font-size: 1.1em;
                            a {
                                text-decoration: none;
                                font-family: 'Open Sans', sans-serif;
                                font-size: 1.1em;
                                color: #034076;
                                border-bottom: 0.1em solid #034076;
                            }
                            span {

                                font-family: 'Open Sans', sans-serif;
                            }
                        }
                    }
                }
            }

            &>section:first-of-type {
                display: grid;
                grid-template-columns: 0.1fr 0.8fr 0.1fr;
                background-color: #F4F4F4;
                padding-bottom: 2em;

                &>section {
                    grid-column: 2/3;
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 2em;

                    article {
                        display: flex;
                        flex-direction: column;
                        gap: 1em;
                        padding: 1em;
                        background-color: white;
                        border-radius: 0.5em;

                        figure {
                            width: 100%;
                            height: 100%;
                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: 0.5em;
                            }
                        }

                        header {
                            display: flex;
                            flex-direction: row;
                            gap: 1em;

                            a {
                                font-family: 'Roboto', sans-serif;
                                font-size: 1em;
                                background-color: #034076;
                                color: white;
                                border-radius: 1em;
                                text-decoration: none;
                                padding: 0.5em;
                            }
                            span {
                                font-family: 'Roboto', sans-serif;
                                font-size: 1em;
                                align-self: center;
                            }
                        }
                        h3 {
                            font-family: 'Roboto', sans-serif;
                            font-size: 1.5em;
                            font-weight: 800;
                            text-transform: uppercase;
                            cursor: pointer;
                            display: -webkit-box;
                            -webkit-line-clamp: 1; /* number of lines to show */
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            padding-bottom: 0.15em;
                        }
                        
                        h3:hover{
                        transform: scale(1.02);
                        transition: 0.5s;
                        z-index: 2;
                        color: #034076;
                        }
                        p {
                            font-family: 'Roboto', sans-serif;
                            font-size: 1.2em;
                            padding-bottom: 0.6em;
                            display: -webkit-box;
                            -webkit-line-clamp: 2; /* number of lines to show */
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }

                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1023.99px) {
    html {
        font-size: 14px;
        scroll-behavior: smooth;
    }

    #public-layout {
        min-height: 100vh;
        width: 100vw;

        &>#actualites {
            background-color: #F4F4F4;
            width: 100vw;
            display: flex;
            flex-direction: column;

            &>header {
                margin-top: 16vh;
                padding: 4em;
                display: flex;
                flex-direction: column;
                gap: 2em;

                h1 {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 3em;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-decoration: underline #FDCD11 0.1em;
                    color: #034076;
                }
                nav {
                    ul {
                        display: flex;
                        flex-direction: row;
                        gap: 0.2em;
                        li {
                            font-family: 'Open Sans', sans-serif;
                            font-size: 1.1em;
                            a {
                                text-decoration: none;
                                font-family: 'Open Sans', sans-serif;
                                font-size: 1.1em;
                                color: #034076;
                                border-bottom: 0.1em solid #034076;
                            }
                            span {

                                font-family: 'Open Sans', sans-serif;
                            }
                        }
                    }
                }
            }

            &>section:first-of-type {
                display: grid;
                grid-template-columns: 0.1fr 0.8fr 0.1fr;
                background-color: #F4F4F4;
                padding-bottom: 2em;

                &>section {
                    grid-column: 2/3;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 2em;

                    article {
                        display: flex;
                        flex-direction: column;
                        gap: 1em;
                        padding: 1em;
                        background-color: white;
                        border-radius: 0.5em;

                        figure {
                            width: 100%;
                            height: 100%;
                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: 0.5em;
                            }
                        }

                        header {
                            display: flex;
                            flex-direction: row;
                            gap: 1em;

                            a {
                                font-family: 'Roboto', sans-serif;
                                font-size: 1em;
                                background-color: #034076;
                                color: white;
                                border-radius: 1em;
                                text-decoration: none;
                                padding: 0.5em;
                            }
                            span {
                                font-family: 'Roboto', sans-serif;
                                font-size: 1em;
                                align-self: center;
                            }
                        }
                        h3 {
                            font-family: 'Roboto', sans-serif;
                            font-size: 1.5em;
                            font-weight: 800;
                            text-transform: uppercase;
                            cursor: pointer;
                            display: -webkit-box;
                            -webkit-line-clamp: 1; /* number of lines to show */
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            padding-bottom: 0.15em;
                        }
                        
                        h3:hover{
                        transform: scale(1.02);
                        transition: 0.5s;
                        z-index: 2;
                        color: #034076;
                        }
                        p {
                            font-family: 'Roboto', sans-serif;
                            font-size: 1.2em;
                            padding-bottom: 0.6em;
                            display: -webkit-box;
                            -webkit-line-clamp: 2; /* number of lines to show */
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }

                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1439.99px)
{

    html {
        font-size: 14px;
        scroll-behavior: smooth;
    }

    #public-layout {
        min-height: 100vh;
        width: 100vw;

        &>#actualites {
            background-color: #F4F4F4;
            width: 100vw;
            display: flex;
            flex-direction: column;

            &>header {
                margin-top: 16vh;
                padding: 4em;
                display: flex;
                flex-direction: column;
                gap: 2em;

                h1 {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 3em;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-decoration: underline #FDCD11 0.1em;
                    color: #034076;
                }
                nav {
                    ul {
                        display: flex;
                        flex-direction: row;
                        gap: 0.2em;
                        li {
                            font-family: 'Open Sans', sans-serif;
                            font-size: 1.1em;
                            a {
                                text-decoration: none;
                                font-family: 'Open Sans', sans-serif;
                                font-size: 1.1em;
                                color: #034076;
                                border-bottom: 0.1em solid #034076;
                            }
                            span {

                                font-family: 'Open Sans', sans-serif;
                            }
                        }
                    }
                }
            }

            &>section:first-of-type {
                display: grid;
                grid-template-columns: 0.1fr 0.8fr 0.1fr;
                background-color: #F4F4F4;
                padding-bottom: 2em;

                &>section {
                    grid-column: 2/3;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 2em;

                    article {
                        display: flex;
                        flex-direction: column;
                        gap: 1em;
                        padding: 1em;
                        border-radius: 0.5em;
                        background-color: white;

                        figure {
                            width: 100%;
                            height: 100%;
                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: 0.5em;
                            }
                        }

                        header {
                            display: flex;
                            flex-direction: row;
                            gap: 1em;

                            a {
                                font-family: 'Roboto', sans-serif;
                                font-size: 1em;
                                background-color: #034076;
                                color: white;
                                border-radius: 1em;
                                text-decoration: none;
                                padding: 0.5em;
                            }
                            span {
                                font-family: 'Roboto', sans-serif;
                                font-size: 1em;
                                align-self: center;
                            }
                        }
                        h3 {
                            font-family: 'Roboto', sans-serif;
                            font-size: 1.5em;
                            font-weight: 800;
                            text-transform: uppercase;
                            cursor: pointer;
                            display: -webkit-box;
                            -webkit-line-clamp: 1; /* number of lines to show */
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            padding-bottom: 0.15em;
                
                        }
                        
                        h3:hover{
                        transform: scale(1.02);
                        transition: 0.5s;
                        z-index: 2;
                        color: #034076;
                        }
                        p {
                            font-family: 'Roboto', sans-serif;
                            font-size: 1.2em;
                            padding-bottom: 0.6em;
                            display: -webkit-box;
                            -webkit-line-clamp: 2; /* number of lines to show */
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }

                    }
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    html {
        font-size: 14px;
        scroll-behavior: smooth;
    }

    #public-layout {
        min-height: 100vh;
        width: 100vw;

        &>#actualites {
            background-color: #F4F4F4;
            width: 100vw;
            display: flex;
            flex-direction: column;

            &>header {
                margin-top: 16vh;
                padding: 4em;
                display: flex;
                flex-direction: column;
                gap: 2em;

                h1 {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 3em;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-decoration: underline #FDCD11 0.1em;
                    color: #034076;
                }
                nav {
                    ul {
                        display: flex;
                        flex-direction: row;
                        gap: 0.2em;
                        li {
                            font-family: 'Open Sans', sans-serif;
                            font-size: 1.1em;
                            a {
                                text-decoration: none;
                                font-family: 'Open Sans', sans-serif;
                                font-size: 1.1em;
                                color: #034076;
                                border-bottom: 0.1em solid #034076;
                            }
                            span {

                                font-family: 'Open Sans', sans-serif;
                            }
                        }
                    }
                }
            }

            &>section:first-of-type {
                display: grid;
                grid-template-columns: 0.1fr 0.8fr 0.1fr;
                background-color: #F4F4F4;
                padding-bottom: 2em;

                &>section {
                    grid-column: 2/3;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 2em;

                    article {
                        display: flex;
                        flex-direction: column;
                        gap: 1em;
                        padding: 1em;
                        background-color: white;
                        border-radius: 0.5em;

                        figure {
                                width: 100%;
                                height: 100%;
                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: 0.5em;
                            }
                        }

                        header {
                            display: flex;
                            flex-direction: row;
                            gap: 1em;

                            a {
                                font-family: 'Roboto', sans-serif;
                                font-size: 1em;
                                background-color: #034076;
                                color: white;
                                border-radius: 1em;
                                text-decoration: none;
                                padding: 0.5em;
                            }
                            span {
                                font-family: 'Roboto', sans-serif;
                                font-size: 1em;
                                align-self: center;
                            }
                        }
                        h3 {
                            font-family: 'Roboto', sans-serif;
                            font-size: 1.5em;
                            font-weight: 800;
                            text-transform: uppercase;
                            cursor: pointer;
                            display: -webkit-box;
                            -webkit-line-clamp: 1; /* number of lines to show */
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            padding-bottom: 0.15em;
                        }
                        
                        h3:hover{
                        transform: scale(1.02);
                        transition: 0.5s;
                        z-index: 2;
                        color: #034076;
                        }
                        p {
                            font-family: 'Roboto', sans-serif;
                            font-size: 1.2em;
                            padding-bottom: 0.6em;
                            display: -webkit-box;
                            -webkit-line-clamp: 2; /* number of lines to show */
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }

                    }
                }
            }
        }
    }
}
