@media (max-width: 426px) {}

@media (min-width: 768px) and (max-width: 1023.99px) {}

@media (min-width: 1024px) and (max-width: 1439.99px) { 


    #footer-client {
        display: grid;
        grid-template-columns: 0.1fr 0.9fr;
        background-color: #034076;
        height: 20vh;
        width: 100vw;

        figure {
            display: grid;

            img {
                justify-self: center;
                align-self: center;
                width: auto;
            }
        }

        section {
            display: flex;
            flex-direction: row;
            gap: 10em;
            justify-content: center;
            align-content: center;

            section {
                display: flex;
                flex-direction: column;
                gap: 2em;

                h1 {
                    color: white;
                    font-family: 'Open Sans', sans-serif;
                }

                ul {
                    li {
                        a {
                            color: white;
                            font-family: 'Open Sans', sans-serif;
                            text-decoration: none;
                        }

                    }
                }
            }
        }
    }

}

@media (min-width: 1440px) {


    #footer-client {
        display: grid;
        grid-template-columns: 0.1fr 0.9fr;
        background-color: #034076;
        height: 20vh;
        width: 100vw;

        figure {
            display: grid;

            img {
                justify-self: center;
                align-self: center;
                width: auto;
            }
        }

        section {
            display: flex;
            flex-direction: row;
            gap: 10em;
            justify-content: center;
            align-content: center;

            section {
                display: flex;
                flex-direction: column;
                gap: 2em;

                h1 {
                    color: white;
                    font-family: 'Open Sans', sans-serif;
                }

                ul {
                    li {
                        a {
                            color: white;
                            font-family: 'Open Sans', sans-serif;
                            text-decoration: none;
                        }

                    }
                }
            }
        }
    }

}