@media (max-width: 426px) {
    html {
        font-size: 14px;
        scroll-behavior: smooth;
    }

    #public-layout {
        min-height: 100vh;
        width: 100vw;

        &>#infrastructures {
            background-color: #F4F4F4;
            width: 100vw;
            display: flex;
            flex-direction: column;

            &>header {
                margin-top: 16vh;
                padding: 2em 0 2em 0;
                display: flex;
                flex-direction: column;
                gap: 2em;

                h1 {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 2em;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-decoration: underline #FDCD11 0.1em;
                    text-align: center;
                    color: #034076;
                }
            }
            
            &>section:first-of-type{
                padding-bottom: 3em;
                    
                h2{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1.6em;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-decoration: underline #FDCD11 0.1em;
                    color: #034076; 
                    text-align: center;
                }
            }

            &>section:last-of-type {
                display: grid;
                grid-template-columns: 0.1fr 0.8fr 0.1fr;
                background-color: #F4F4F4;
                padding-bottom: 2em;

                &>section {
                    grid-column: 2/3;
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 2em;
                    justify-items: center;

                    article {
                        display: flex;
                        flex-direction: column;
                        gap: 1em;
                        padding: 0.5em;
                        width: 80%;
                        background-color: white;
                        border-radius: 0.5em;
                        cursor: pointer;

                        figure {
                                width: 100%;
                                height: 100%;
                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: 0.5em;
                            }
                            img:hover{
                                transform: scale(1.02);
                                transition: 0.5s;
                                z-index: 2;
                            }
                        }

                        section {
                            display: flex;
                            flex-direction: column;
                            gap: 1em;

                            h3{
                                font-family: 'Open Sans', sans-serif;
                                font-size: 1.8em;
                                text-align: center;
                                color: #034076;
                            }

                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 427px) and (max-width: 767px) {
    html {
        font-size: 14px;
        scroll-behavior: smooth;
    }

    #public-layout {
        min-height: 100vh;
        width: 100vw;

        &>#infrastructures {
            background-color: #F4F4F4;
            width: 100vw;
            display: flex;
            flex-direction: column;

            &>header {
                margin-top: 16vh;
                padding: 4em;
                display: flex;
                flex-direction: column;
                gap: 2em;

                h1 {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 3em;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-decoration: underline #FDCD11 0.1em;
                    color: #034076;
                }
            }
            
            &>section:first-of-type{
                padding-bottom: 3em;
                    
                h2{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1.8em;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-decoration: underline #FDCD11 0.1em;
                    color: #034076; 
                    text-align: center;
                }
            }

            &>section:last-of-type {
                display: grid;
                grid-template-columns: 0.1fr 0.8fr 0.1fr;
                background-color: #F4F4F4;
                padding-bottom: 2em;

                &>section {
                    grid-column: 2/3;
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 2em;
                    justify-items: center;

                    article {
                        display: flex;
                        flex-direction: column;
                        gap: 1em;
                        padding: 0.5em;
                        width: 80%;
                        background-color: white;
                        border-radius: 0.5em;
                        cursor: pointer;

                        figure {
                                width: 100%;
                                height: 100%;
                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: 0.5em;
                            }
                            img:hover{
                                transform: scale(1.02);
                                transition: 0.5s;
                                z-index: 2;
                            }
                        }

                        section {
                            display: flex;
                            flex-direction: column;
                            gap: 1em;

                            h3{
                                font-family: 'Open Sans', sans-serif;
                                font-size: 1.8em;
                                text-align: center;
                                color: #034076;
                            }

                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1023.99px) {
    html {
        font-size: 14px;
        scroll-behavior: smooth;
    }

    #public-layout {
        min-height: 100vh;
        width: 100vw;

        &>#infrastructures {
            background-color: #F4F4F4;
            width: 100vw;
            display: flex;
            flex-direction: column;

            &>header {
                margin-top: 16vh;
                padding: 4em;
                display: flex;
                flex-direction: column;
                gap: 2em;

                h1 {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 3em;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-decoration: underline #FDCD11 0.1em;
                    color: #034076;
                }
            }
            
            &>section:first-of-type{
                padding-bottom: 3em;
                    
                h2{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1.8em;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-decoration: underline #FDCD11 0.1em;
                    color: #034076; 
                    text-align: center;
                }
            }

            &>section:last-of-type {
                display: grid;
                grid-template-columns: 0.1fr 0.8fr 0.1fr;
                background-color: #F4F4F4;
                padding-bottom: 2em;

                &>section {
                    grid-column: 2/3;
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 2em;
                    justify-items: center;

                    article {
                        display: flex;
                        flex-direction: column;
                        gap: 1em;
                        padding: 0.5em;
                        width: 80%;
                        background-color: white;
                        border-radius: 0.5em;
                        cursor: pointer;

                        figure {
                                width: 100%;
                                height: 100%;
                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: 0.5em;
                            }
                            img:hover{
                                transform: scale(1.02);
                                transition: 0.5s;
                                z-index: 2;
                            }
                        }

                        section {
                            display: flex;
                            flex-direction: column;
                            gap: 1em;

                            h3{
                                font-family: 'Open Sans', sans-serif;
                                font-size: 1.8em;
                                text-align: center;
                                color: #034076;
                            }

                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1439.99px) {

    html {
        font-size: 14px;
        scroll-behavior: smooth;
    }

    #public-layout {
        min-height: 100vh;
        width: 100vw;

        &>#infrastructures {
            background-color: #F4F4F4;
            width: 100vw;
            display: flex;
            flex-direction: column;

            &>header {
                margin-top: 16vh;
                padding: 4em;
                display: flex;
                flex-direction: column;
                gap: 2em;

                h1 {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 3em;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-decoration: underline #FDCD11 0.1em;
                    color: #034076;
                }
            }
            
            &>section:first-of-type{
                padding-bottom: 3em;
                    
                h2{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1.8em;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-decoration: underline #FDCD11 0.1em;
                    color: #034076; 
                    text-align: center;
                }
            }

            &>section:last-of-type {
                display: grid;
                grid-template-columns: 0.1fr 0.8fr 0.1fr;
                background-color: #F4F4F4;
                padding-bottom: 2em;

                &>section {
                    grid-column: 2/3;
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 2em;
                    justify-items: center;

                    article {
                        display: flex;
                        flex-direction: column;
                        gap: 1em;
                        padding: 0.5em;
                        width: 80%;
                        background-color: white;
                        border-radius: 0.5em;
                        cursor: pointer;

                        figure {
                                width: 100%;
                                height: 100%;
                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: 0.5em;
                            }
                            img:hover{
                                transform: scale(1.02);
                                transition: 0.5s;
                                z-index: 2;
                            }
                        }

                        section {
                            display: flex;
                            flex-direction: column;
                            gap: 1em;

                            h3{
                                font-family: 'Open Sans', sans-serif;
                                font-size: 1.8em;
                                text-align: center;
                                color: #034076;
                            }

                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    html {
        font-size: 14px;
        scroll-behavior: smooth;
    }

    #public-layout {
        min-height: 100vh;
        width: 100vw;

        &>#infrastructures {
            background-color: #F4F4F4;
            width: 100vw;
            display: flex;
            flex-direction: column;

            &>header {
                margin-top: 16vh;
                padding: 4em;
                display: flex;
                flex-direction: column;
                gap: 2em;

                h1 {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 3em;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-decoration: underline #FDCD11 0.1em;
                    color: #034076;
                }
            }
            
            &>section:first-of-type{
                padding-bottom: 3em;
                    
                h2{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 1.8em;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-decoration: underline #FDCD11 0.1em;
                    color: #034076; 
                    text-align: center;
                }
            }

            &>section:last-of-type {
                display: grid;
                grid-template-columns: 0.1fr 0.8fr 0.1fr;
                background-color: #F4F4F4;
                padding-bottom: 2em;

                &>section {
                    grid-column: 2/3;
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 2em;
                    justify-items: center;

                    article {
                        display: flex;
                        flex-direction: column;
                        gap: 1em;
                        padding: 0.5em;
                        width: 80%;
                        background-color: white;
                        border-radius: 0.5em;
                        cursor: pointer;

                        figure {
                                width: 100%;
                                height: 100%;
                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: 0.5em;
                            }
                            img:hover{
                                transform: scale(1.02);
                                transition: 0.5s;
                                z-index: 2;
                            }
                        }

                        section {
                            display: flex;
                            flex-direction: column;
                            gap: 1em;

                            h3{
                                font-family: 'Open Sans', sans-serif;
                                font-size: 1.8em;
                                text-align: center;
                                color: #034076;
                            }

                        }
                    }
                }
            }
        }
    }
}
