@media (max-width: 426px) {


    #client-header {
        display: none;
    }

    #client-header-mobile {

        width: 100vw;
        height: 7vh;
        top: 0;
        background-color: #034076;
        display: flex;
        border-bottom: 5px solid #FDCD11;
        position: fixed;

        section:first-of-type {
            display: flex;
            flex-direction: column;
            gap: 1em;
            width: 100%;
            align-content: center;
            justify-content: center;
    
            .sideMenuMobile-btn {
                position: fixed;
                height: 3vh;
                width: 6vw;
                cursor: pointer;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: center;
                left: 6vw;
                background: transparent;
    
                .line {
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 0.2em;
                    background: white;
                }
    
                .l1 {
                    transform: translateY(-0.6em);
                }
    
                .l3 {
                    transform: translateY(0.6em);
                }
            }
    
            .sideMenuMobile-btn.active .l1 {
                transform: translateY(0em) rotate(135deg);
            }
    
            .sideMenuMobile-btn.active .l2 {
                opacity: 0;
            }
    
            .sideMenuMobile-btn.active .l3 {
                transform: translateY(0em) rotate(-135deg);
            }
    
            figure {
                display: flex;
                flex-direction: row;
                align-self: center;
                justify-self: center;
    
                a {
                    display: flex;
                    justify-content: center;
    
                    img {
                        width: 40%;
                    }
                }
    
                h1 {
                    align-self: center;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: white;
                    font-family: 'Open Sans', sans-serif;
                }
            }
        }

        .sideMenuMobile.active{
            transform: translateY(0);
        }

        .sideMenuMobile {
            position: fixed;
            display: grid;
            gap: 4em;
            width: 100vw;
            height: 100vh;
            transform: translateY(-110vh);
            top: 7vh;
            background-color: white;
            border-top: 5px solid #FDCD11;

            & > ul {

                display: flex;
                flex-direction: column;
                gap: 1.5em;
                justify-self: start;
                padding: 1em;
                margin-top: 4vh;

                li {

                    font-size: 1em;
                    font-family: "Termina", Arial, sans-serif;
                    display: flex;
                    justify-content: center;

                    a {
                        text-decoration: none;
                        color: #034076;
                        text-transform: uppercase;
                        font-family: "Open Sans", sans-serif;
                        font-weight: 600;
                    }
                }

                .items-mobile{
                    & > .submenu-headerMobile{
                        display: none;
                        position: absolute;
                        border: 0.2em solid white;
                        left: 28vw;
                        .items-submenu-headerMobile{
                            background-color: #034076;
                            padding: 1em;
                            cursor: pointer;

                            & > a{
                                font-size: 1em;
                                color: white;
                            }
                        }

                        .items-submenu-headerMobile:hover{
                            background-color: white;
                            & > a{
                               color: #034076;
                            }
                       }
                    }
                }

                .items-mobile:hover .submenu-headerMobile{
                    display: block;
                }
            }

            & > section{

                .socialIcons-SideMenuMobile{
                    display: flex;
                    flex-direction: row;
                    height: 2.7vh;
                    gap: 3em;
                    justify-content: center;
                    
                    & > li{
                        display: grid;

                        .icon-facebook {
                            display: grid;
                            color: #4267B2;
                            align-content: center;
                        }

                        .icon-twitter {
                            display: grid;
                            color: #00acee;
                            align-content: center;
                        }
                    }

                    li:nth-of-type(2){
                        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                        border-radius: 0.4em;
                        .icon-instagram {
                            display: grid;
                            color: white;
                            padding: 0.2em;
                            align-content: center;
                        }
                    }
                }
            }
        }

    }
}


@media (min-width: 427px) and (max-width: 767px) {
    #client-header {
        display: none;
    }

    #client-header-mobile {

        width: 100vw;
        height: 7vh;
        top: 0;
        background-color: #034076;
        display: flex;
        border-bottom: 5px solid #FDCD11;
        position: fixed;

        & > section:first-of-type {
            display: flex;
            flex-direction: column;
            gap: 1em;
            width: 100%;
            align-content: center;
            justify-content: center;
    
            .sideMenuMobile-btn {
                position: fixed;
                height: 3vh;
                width: 6vw;
                cursor: pointer;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: center;
                left: 6vw;
                background: transparent;
    
                .line {
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 0.2em;
                    background: white;
                }
    
                .l1 {
                    transform: translateY(-0.6em);
                }
    
                .l3 {
                    transform: translateY(0.6em);
                }
            }
    
            .sideMenuMobile-btn.active .l1 {
                transform: translateY(0em) rotate(135deg);
            }
    
            .sideMenuMobile-btn.active .l2 {
                opacity: 0;
            }
    
            .sideMenuMobile-btn.active .l3 {
                transform: translateY(0em) rotate(-135deg);
            }
    
            figure {
                display: flex;
                flex-direction: row;
                align-self: center;
                justify-self: center;
    
                a {
                    display: flex;
                    justify-content: center;
    
                    img {
                        width: 40%;
                    }
                }
    
                h1 {
                    align-self: center;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: white;
                    font-family: 'Open Sans', sans-serif;
                }
            }
        }

        .sideMenuMobile.active{
            transform: translateY(0);
        }

        .sideMenuMobile {
            position: fixed;
            display: grid;
            gap: 4em;
            width: 100vw;
            height: 100vh;
            transform: translateY(-110vh);
            top: 7vh;
            background-color: white;
            border-top: 5px solid #FDCD11;

            & > ul {

                display: flex;
                flex-direction: column;
                gap: 1.5em;
                justify-self: start;
                padding: 1em;
                margin-top: 4vh;

                li {

                    font-size: 1em;
                    font-family: "Termina", Arial, sans-serif;
                    display: flex;
                    justify-content: center;

                    a {
                        text-decoration: none;
                        color: #034076;
                        text-transform: uppercase;
                        font-family: "Open Sans", sans-serif;
                        font-weight: 600;
                    }
                }

                .items-mobile{
                    & > .submenu-headerMobile{
                        display: none;
                        position: absolute;
                        border: 0.2em solid white;
                        left: 25vw;
                        .items-submenu-headerMobile{
                            background-color: #034076;
                            padding: 1em;
                            cursor: pointer;

                            & > a{
                                font-size: 1em;
                                color: white;
                            }
                        }

                        .items-submenu-headerMobile:hover{
                            background-color: white;
                            & > a{
                               color: #034076;
                            }
                       }
                    }
                }

                .items-mobile:hover .submenu-headerMobile{
                    display: block;
                }
            }

            & > section{

                .socialIcons-SideMenuMobile{
                    display: flex;
                    flex-direction: row;
                    height: 2.7vh;
                    gap: 3em;
                    justify-content: center;
                    
                    & > li{
                        display: grid;

                        .icon-facebook {
                            display: grid;
                            color: #4267B2;
                            align-content: center;
                        }

                        .icon-twitter {
                            display: grid;
                            color: #00acee;
                            align-content: center;
                        }
                    }

                    li:nth-of-type(2){
                        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                        border-radius: 0.4em;
                        .icon-instagram {
                            display: grid;
                            color: white;
                            padding: 0.2em;
                            align-content: center;
                        }
                    }
                }
            }
        }

    }
}

@media (min-width: 768px) and (max-width: 1023.99px) {


    #client-header {
        display: none;
    }

    #client-header-mobile {

        width: 100vw;
        height: 7vh;
        top: 0;
        background-color: #034076;
        display: flex;
        border-bottom: 5px solid #FDCD11;
        position: fixed;

        & > section:first-of-type {
            display: flex;
            flex-direction: column;
            gap: 1em;
            width: 100%;
            align-content: center;
            justify-content: center;
    
            .sideMenuMobile-btn {
                position: fixed;
                height: 3vh;
                width: 6vw;
                cursor: pointer;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: center;
                left: 6vw;
                background: transparent;
    
                .line {
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 0.2em;
                    background: white;
                }
    
                .l1 {
                    transform: translateY(-0.6em);
                }
    
                .l3 {
                    transform: translateY(0.6em);
                }
            }
    
            .sideMenuMobile-btn.active .l1 {
                transform: translateY(0em) rotate(135deg);
            }
    
            .sideMenuMobile-btn.active .l2 {
                opacity: 0;
            }
    
            .sideMenuMobile-btn.active .l3 {
                transform: translateY(0em) rotate(-135deg);
            }
    
            figure {
                display: flex;
                flex-direction: row;
                align-self: center;
                justify-self: center;
    
                a {
                    display: flex;
                    justify-content: center;
    
                    img {
                        width: 40%;
                    }
                }
    
                h1 {
                    align-self: center;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: white;
                    font-family: 'Open Sans', sans-serif;
                }
            }
        }

        .sideMenuMobile.active{
            transform: translateY(0);
        }

        .sideMenuMobile {
            position: fixed;
            display: flex;
            flex-direction: column;
            gap: 4em;
            width: 100vw;
            height: 100vh;
            transform: translateY(-110vh);
            justify-content: start;
            top: 7vh;
            background-color: white;
            border-top: 5px solid #FDCD11;

            & > ul {

                display: flex;
                flex-direction: column;
                gap: 1.5em;
                justify-self: center;
                align-self: center;
                padding: 1em;
                margin-top: 4vh;

                li {

                    font-size: 1em;
                    font-family: "Termina", Arial, sans-serif;
                    display: flex;
                    gap: 0.5em;
                    justify-content: center;

                    a {
                        text-decoration: none;
                        color: #034076;
                        text-transform: uppercase;
                        font-family: "Open Sans", sans-serif;
                        font-weight: 600;
                    }
                }

                .items-mobile{
                    & > .submenu-headerMobile{
                        display: none;
                        position: absolute;
                        right: 20vw;
                        border: 0.2em solid white;
                        .items-submenu-headerMobile{
                            background-color: #034076;
                            padding: 1em;
                            cursor: pointer;

                            & > a{
                                font-size: 1em;
                                color: white;
                            }
                        }

                        .items-submenu-headerMobile:hover{
                            background-color: white;
                            & > a{
                               color: #034076;
                            }
                       }
                    }
                }

                .items-mobile:hover .submenu-headerMobile{
                    display: block;
                }
            }

            & > section{

                .socialIcons-SideMenuMobile{
                    display: flex;
                    flex-direction: row;
                    height: 2.7vh;
                    gap: 3em;
                    justify-content: center;
                    
                    & > li{
                        display: grid;

                        .icon-facebook {
                            display: grid;
                            color: #4267B2;
                            align-content: center;
                        }

                        .icon-twitter {
                            display: grid;
                            color: #00acee;
                            align-content: center;
                        }
                    }

                    li:nth-of-type(2){
                        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                        border-radius: 0.4em;
                        .icon-instagram {
                            display: grid;
                            color: white;
                            padding: 0.2em;
                            align-content: center;
                        }
                    }
                }
            }
        }

    }

}

@media (min-width: 1024px) and (max-width: 1439.99px) {


    #client-header-mobile {
        display: none;
    }

    #client-header {
        height: 16vh;
        width: 100vw;
        background-color: white;
        box-shadow: 0px 5px 5px 0 rgb(48 68 78 / 10%);
        display: grid;
        grid-template-rows: 0.25fr 0.75fr;
        position: fixed;
        top: 0;
        transition: top 0.3s;
        border-bottom: 5px solid #FDCD11;

        .sideMenu {
            position: fixed;
            left: 0;
            margin-top: 16vh;
            // border: red 0.3em dashed;
            width: 18vw;
            height: 100%;
            display: flex;
            flex-direction: column;
            transform: translateX(-19vw);
            transition: transform 0.3s;
            border-right: 5px solid #FDCD11;

            .sideMenu-nav {
                display: flex;
                width: 100%;
                justify-content: center;

                ul:first-of-type {
                    display: flex;
                    flex-direction: column;
                    gap: 2em;
                    align-self: start;
                    margin-top: 6vh;
                }
            }
        }

        .sideMenu.active {
            transform: translateX(0);
        }

        section {
            align-items: center;
            background-color: #F4F4F4;
            display: grid;
            grid-template-columns: 1fr 1fr;

            h1 {

                padding-left: 3em;
                font-size: 1em;
                font-family: 'Open Sans', sans-serif;


                a {
                    text-decoration: none;
                    color: black;
                    display: flex;
                    column-gap: 1em;

                    span {}
                }


            }

            ul {

                height: 100%;
                display: flex;
                flex-direction: row;
                column-gap: 4em;
                justify-content: right;
                padding-right: 5em;


                li {

                    font-size: 1em;
                    font-family: 'Open Sans', sans-serif;
                    align-self: center;

                    .icon-facebook {
                        color: #4267B2;
                    }

                    .icon-instagram {
                        color: white;
                        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                        border-radius: 0.4em;
                        padding: 0.225em;

                    }

                    .icon-twitter {
                        color: #00acee;
                    }

                    a {
                        text-decoration: none;
                        color: white;

                    }

                    a:hover {}
                }
            }
        }

        nav {
            margin: 0;
            padding: 0;
            width: 100vw;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 0.5fr 1fr;
            gap: 2em;
            background-color: white;

            .sideMenu-btn {
                position: fixed;
                height: 3vh;
                width: 2vw;
                cursor: pointer;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: center;
                left: 6vw;
                background: transparent;

                .line {
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 0.2em;
                    background: #034076;
                }

                .l1 {
                    transform: translateY(-0.6em);
                }

                .l3 {
                    transform: translateY(0.6em);
                }
            }

            .sideMenu-btn.active .l1 {
                transform: translateY(0em) rotate(135deg);
            }

            .sideMenu-btn.active .l2 {
                opacity: 0;
            }

            .sideMenu-btn.active .l3 {
                transform: translateY(0em) rotate(-135deg);
            }

            ul:first-of-type {
                align-self: center;
                justify-self: right;
                display: flex;
                flex-direction: row;
                column-gap: 4em;

                li {
                    a {
                        text-decoration: none;
                        color: #034076;
                        text-transform: uppercase;
                        font-family: 'Open Sans', sans-serif;
                        font-weight: 600;
                        font-size: 1.2em;

                    }
                }
            }

            figure {
                justify-self: center;
                align-self: center;
                display: flex;
                flex-direction: column;
                row-gap: 0.5em;

                img {
                    height: 8vh;
                }
            }

            ul:last-of-type {
                align-self: center;
                justify-self: left;
                display: flex;
                flex-direction: row;
                column-gap: 4em;

                .items {
                    display: flex;
                    gap: 0.5em;
                    a {
                        text-decoration: none;
                        color: #034076;
                        text-transform: uppercase;
                        font-family: 'Open Sans', sans-serif;
                        font-weight: 600;
                        font-size: 1.2em;
                    }

                    span{
                        align-self: center;
                    }

                    .submenu-headerLaptop{
                        display: none;
                        position: absolute;
                        top: 11.5vh;
                        border: 0.2em solid white;

                        .items-submenu-headerLaptop{
                            background-color: #034076;
                            padding: 1em;
                            cursor: pointer;
                            
                            & > a{
                                font-size: 1em;
                                color: white;
                            }
                        }

                        .items-submenu-headerLaptop:hover{
                             background-color: white;
                             & > a{
                                color: #034076;
                             }
                        }
                    }
                }

                .items:hover .submenu-headerLaptop{
                    display: block;
                }
            }
        }
    }
}


@media (min-width: 1440px) {

    #client-header-mobile {
        display: none;
    }

    #client-header {
        height: 16vh;
        width: 100vw;
        background-color: white;
        box-shadow: 0px 5px 5px 0 rgb(48 68 78 / 10%);
        display: grid;
        grid-template-rows: 0.25fr 0.75fr;
        position: fixed;
        top: 0;
        transition: top 0.3s;
        border-bottom: 5px solid #FDCD11;

        .sideMenu {
            position: fixed;
            left: 0;
            margin-top: 16vh;
            // border: red 0.3em dashed;
            width: 18vw;
            height: 100%;
            display: flex;
            flex-direction: column;
            transform: translateX(-19vw);
            transition: transform 0.3s;
            border-right: 5px solid #FDCD11;

            .sideMenu-nav {
                display: flex;
                width: 100%;
                justify-content: center;

                ul:first-of-type {
                    display: flex;
                    flex-direction: column;
                    gap: 2em;
                    align-self: start;
                    margin-top: 6vh;
                }
            }
        }

        .sideMenu.active {
            transform: translateX(0);
        }

        section {
            align-items: center;
            background-color: #F4F4F4;
            display: grid;
            grid-template-columns: 1fr 1fr;

            h1 {

                padding-left: 3em;
                font-size: 1em;
                font-family: 'Open Sans', sans-serif;


                a {
                    text-decoration: none;
                    color: black;
                    display: flex;
                    column-gap: 1em;

                    span {}
                }


            }

            ul {

                display: flex;
                flex-direction: row;
                column-gap: 4em;
                justify-content: right;
                padding-right: 5em;


                li {

                    font-size: 1em;
                    font-family: 'Open Sans', sans-serif;

                    .icon-facebook {
                        color: #4267B2;
                    }

                    .icon-instagram {
                        color: white;
                        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                        border-radius: 0.4em;
                        padding: 0.2em;
                    }

                    .icon-twitter {
                        color: #00acee;
                    }

                    a {
                        text-decoration: none;
                        color: white;

                    }

                }
            }
        }

        nav {
            margin: 0;
            padding: 0;
            width: 100vw;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 0.5fr 1fr;
            background-color: white;

            .sideMenu-btn {
                position: fixed;
                height: 3vh;
                width: 2vw;
                cursor: pointer;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: center;
                left: 12vw;
                background: transparent;

                .line {
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 0.2em;
                    background: #034076;
                }

                .l1 {
                    transform: translateY(-0.6em);
                }

                .l3 {
                    transform: translateY(0.6em);
                }
            }

            .sideMenu-btn.active .l1 {
                transform: translateY(0em) rotate(135deg);
            }

            .sideMenu-btn.active .l2 {
                opacity: 0;
            }

            .sideMenu-btn.active .l3 {
                transform: translateY(0em) rotate(-135deg);
            }

            & > ul:first-of-type {
                align-self: center;
                justify-self: right;
                display: flex;
                flex-direction: row;
                column-gap: 10em;

                li {
                    a {
                        text-decoration: none;
                        color: #034076;
                        text-transform: uppercase;
                        font-family: 'Open Sans', sans-serif;
                        font-weight: 600;
                        font-size: 1.2em;

                    }
                }
            }

            & > figure {
                justify-self: center;
                align-self: center;
                display: flex;
                flex-direction: column;
                row-gap: 0.5em;

                img {
                    height: 10vh;
                }
            }

            & > ul:last-of-type {
                align-self: center;
                justify-self: left;
                display: flex;
                flex-direction: row;
                column-gap: 10em;

                .items {
                    display: flex;
                    gap: 0.5em;
                    a {
                        text-decoration: none;
                        color: #034076;
                        text-transform: uppercase;
                        font-family: 'Open Sans', sans-serif;
                        font-weight: 600;
                        font-size: 1.2em;
                    }

                    span{
                        align-self: center;
                    }

                    .submenu-headerLaptop{
                        display: none;
                        position: absolute;
                        top: 11vh;
                        border: 0.2em solid white;

                        .items-submenu-headerLaptop{
                            background-color: #034076;
                            padding: 1em;
                            cursor: pointer;

                            & > a{
                                font-size: 1em;
                                color: white;
                            }
                        }

                        .items-submenu-headerLaptop:hover{
                             background-color: white;
                             & > a{
                                color: #034076;
                             }
                        }
                    }
                }

                .items:hover .submenu-headerLaptop{
                    display: block;
                }
            }
        }
    }
}