@media (min-width: 1440px) {
    html {
        font-size: 14px;
        scroll-behavior: smooth;
    }

    #public-layout {
        height: 100vh;
        width: 100vw;
        background-color: $grey;

        &>#partenaires {
            background-color: #F4F4F4;
            width: 100vw;

            &>header {

                margin-top: 16vh;
                padding-top: 4em;
                padding-left: 4em;
                display: flex;
                flex-direction: column;
                gap: 2em;

                h1 {
                    font-family: $benas;
                    font-size: 3em;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-decoration: underline #FDCD11 0.1em;
                    color: #034076;
                }

                nav {
                    ul {
                        display: flex;
                        flex-direction: row;
                        gap: 0.2em;

                        li {
                            font-family: $poppins;
                            font-size: 1.1em;

                            a {
                                text-decoration: none;
                                font-family: $poppins;
                                font-size: 1.1em;
                                color: #034076;
                                border-bottom: 0.1em solid #034076;
                            }

                            span {

                                font-family: $poppins;
                            }
                        }
                    }
                }
            }

            &>section {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 5em;
                justify-content: center;
                align-content: center;
                padding: 5em 15em 15em 15em;

                figure {
                    height: 10em;
                    display: flex;
                    justify-content: center;

                    img {
                        height: 100%;
                        border-radius: 0.5em;
                    }

                    img:hover {
                        transform: scale(0.99);
                        transition: 0.5s;
                        filter: brightness(0.8);
                    }
                }
            }
        }
    }
}