@media (min-width: 425px) and (max-width: 767.99px)
{
    html
    {
        font-size: 14px;
        scroll-behavior: smooth;
    }
    
    body
    {
        min-height: 100vh;
        width: 100vw;
        overflow-x: hidden;
        
    }
}

@media (min-width: 768px) and (max-width: 1023.99px)
{
    html
    {
        font-size: 14px;
        scroll-behavior: smooth;
    }
    
    body
    {
        min-height: 100vh;
        width: 100vw;
        overflow-x: hidden;
        
    }
}

@media (min-width: 1024px) and (max-width: 1439.99px)
{
    html
    {
        font-size: 14px;
        scroll-behavior: smooth;
    }
    
    body
    {
        min-height: 100vh;
        width: 100vw;
        overflow-x: hidden;
        
        #admin-login
        {
            height: 80vh;
            display: flex;
            flex-direction: row;
            justify-content: center;
            
            .sr-only
            {
                display: none;
            }
            
            section
            {
                
                align-self: center;
                
                form
                {
                    
                    h2
                    {
                        padding-bottom: 1em;
                    }
                    
                    #login-button
                    {
                            
                        padding-top: 2em;
                        display: flex;
                        justify-content: center;
                            
                    }
                    
                }
                
            }
            
        }
        
    }
}


@media (min-width: 1440px) and (max-width: 2560px)
{
    
    html
    {
        font-size: 14px;
        scroll-behavior: smooth;
    }
    
    body
    {
        min-height: 100vh;
        width: 100vw;
        overflow-x: hidden;
        
        #admin-login
        {
            height: 80vh;
            display: flex;
            flex-direction: row;
            justify-content: center;
            
            .sr-only
            {
                display: none;
            }
            
            section
            {
                
                align-self: center;
                
                form
                {
                    
                    h2
                    {
                        padding-bottom: 1em;
                    }
                    
                    #login-button
                    {
                            
                        padding-top: 2em;
                        display: flex;
                        justify-content: center;
                            
                    }
                    
                }
                
            }
            
        }

    }
    
}