/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (max-width: 426px) {
  #client-header {
    display: none;
  }
  #client-header-mobile {
    width: 100vw;
    height: 12vh;
    background-color: #034076;
    display: grid;
    grid-template-columns: 0.1fr 1fr;
  }
  #client-header-mobile nav {
    margin-top: 2.5em;
    padding-left: 1.5em;
    justify-self: center;
  }
  #client-header-mobile nav section {
    grid-row: 2/3;
  }
  #client-header-mobile nav section ul {
    display: flex;
    flex-direction: row;
    column-gap: 4em;
    justify-self: center;
    align-self: center;
  }
  #client-header-mobile nav section ul li {
    font-size: 1em;
    font-family: "Termina", Arial, sans-serif;
  }
  #client-header-mobile nav section ul li .icon-facebook {
    color: #4267B2;
  }
  #client-header-mobile nav section ul li .icon-instagram {
    color: white;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    border-radius: 0.4em;
    padding: 0.225em;
  }
  #client-header-mobile nav section ul li .icon-twitter {
    color: #00acee;
  }
  #client-header-mobile nav section ul li a {
    text-decoration: none;
    color: black;
  }
  #client-header-mobile section:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1.5em;
  }
  #client-header-mobile section:first-of-type figure {
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 1em;
  }
  #client-header-mobile section:first-of-type figure a img {
    width: 10vw;
  }
  #client-header-mobile section:first-of-type figure p {
    align-self: center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
  }
}
@media (min-width: 768px) and (max-width: 1023.99px) {
  #client-header {
    display: none;
  }
}
@media (min-width: 1024px) and (max-width: 1439.99px) {
  #client-header-mobile {
    display: none;
  }
  #client-header {
    height: 16vh;
    width: 100vw;
    background-color: white;
    box-shadow: 0px 5px 5px 0 rgba(48, 68, 78, 0.1);
    display: grid;
    grid-template-rows: 0.25fr 0.75fr;
    position: fixed;
    top: 0;
    overflow-y: hidden;
    transition: top 0.3s;
    border-bottom: 5px solid #FDCD11;
  }
  #client-header .sr-only {
    display: none;
  }
  #client-header section {
    align-items: center;
    background-color: #F4F4F4;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #client-header section h1 {
    padding-left: 3em;
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
  }
  #client-header section h1 a {
    text-decoration: none;
    color: black;
    display: flex;
    column-gap: 1em;
  }
  #client-header section ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 4em;
    justify-content: right;
    padding-right: 5em;
  }
  #client-header section ul li {
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
    align-self: center;
  }
  #client-header section ul li .icon-facebook {
    color: #4267B2;
  }
  #client-header section ul li .icon-instagram {
    color: white;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    border-radius: 0.4em;
    padding: 0.225em;
  }
  #client-header section ul li .icon-twitter {
    color: #00acee;
  }
  #client-header section ul li a {
    text-decoration: none;
    color: white;
  }
  #client-header nav {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    background-color: white;
  }
  #client-header nav ul:first-of-type {
    align-self: center;
    justify-self: right;
    display: flex;
    flex-direction: row;
    column-gap: 10em;
  }
  #client-header nav ul:first-of-type li {
    display: inline-block;
    color: #034076;
    text-transform: uppercase;
    font-size: 1.3em;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }
  #client-header nav ul:first-of-type li a {
    text-decoration: none;
    color: #034076;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }
  #client-header nav figure {
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
  }
  #client-header nav figure img {
    height: 10vh;
  }
  #client-header nav ul:last-of-type {
    align-self: center;
    justify-self: left;
    display: flex;
    flex-direction: row;
    column-gap: 10em;
  }
  #client-header nav ul:last-of-type li {
    display: inline-block;
    color: black;
    font-size: 1.3em;
    font-family: "Open Sans", sans-serif;
  }
  #client-header nav ul:last-of-type li a {
    text-decoration: none;
    color: #034076;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }
}
@media (min-width: 1440px) {
  #client-header-mobile {
    display: none;
  }
  #client-header {
    height: 16vh;
    width: 100vw;
    background-color: white;
    box-shadow: 0px 5px 5px 0 rgba(48, 68, 78, 0.1);
    display: grid;
    grid-template-rows: 0.25fr 0.75fr;
    position: fixed;
    top: 0;
    overflow-y: hidden;
    transition: top 0.3s;
    border-bottom: 5px solid #FDCD11;
  }
  #client-header .sr-only {
    display: none;
  }
  #client-header section {
    align-items: center;
    background-color: #F4F4F4;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #client-header section h1 {
    padding-left: 3em;
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
  }
  #client-header section h1 a {
    text-decoration: none;
    color: black;
    display: flex;
    column-gap: 1em;
  }
  #client-header section ul {
    display: flex;
    flex-direction: row;
    column-gap: 4em;
    justify-content: right;
    padding-right: 5em;
  }
  #client-header section ul li {
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
  }
  #client-header section ul li .icon-facebook {
    color: #4267B2;
  }
  #client-header section ul li .icon-instagram {
    color: white;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    border-radius: 0.4em;
    padding: 0.225em;
  }
  #client-header section ul li .icon-twitter {
    color: #00acee;
  }
  #client-header section ul li a {
    text-decoration: none;
    color: white;
  }
  #client-header nav {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    background-color: white;
  }
  #client-header nav ul:first-of-type {
    align-self: center;
    justify-self: right;
    display: flex;
    flex-direction: row;
    column-gap: 10em;
  }
  #client-header nav ul:first-of-type li {
    display: inline-block;
    color: #034076;
    text-transform: uppercase;
    font-size: 1.3em;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }
  #client-header nav ul:first-of-type li a {
    text-decoration: none;
    color: #034076;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }
  #client-header nav figure {
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
  }
  #client-header nav figure img {
    height: 10vh;
  }
  #client-header nav ul:last-of-type {
    align-self: center;
    justify-self: left;
    display: flex;
    flex-direction: row;
    column-gap: 10em;
  }
  #client-header nav ul:last-of-type li {
    display: inline-block;
    color: black;
    font-size: 1.3em;
    font-family: "Open Sans", sans-serif;
  }
  #client-header nav ul:last-of-type li a {
    text-decoration: none;
    color: #034076;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 14px;
    scroll-behavior: smooth;
  }
  #public-layout {
    min-height: 100vh;
    width: 100vw;
  }
  #public-layout > #homepage {
    background-color: #F4F4F4;
    overflow: hidden;
    margin-top: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  #public-layout > #homepage > header {
    display: flex;
    justify-content: center;
    background-color: #034076;
  }
  #public-layout > #homepage > header figure {
    display: flex;
    justify-content: center;
  }
  #public-layout > #homepage > header figure img {
    width: 60%;
    padding-top: 8em;
  }
  #public-layout > #homepage > section:first-of-type {
    display: grid;
    grid-template-columns: 0.15fr 0.7fr 0.15fr;
    background-color: #F4F4F4;
  }
  #public-layout > #homepage > section:first-of-type h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    grid-column: 2/3;
    margin-top: 2em;
    padding: 1em;
    width: 40vw;
    justify-self: center;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline #FDCD11 0.5em;
    color: #034076;
  }
  #public-layout > #homepage > section:first-of-type article {
    grid-column: 2/3;
    padding-top: 2em;
  }
  #public-layout > #homepage > section:first-of-type article iframe {
    border-radius: 0.5em;
  }
  #public-layout > #homepage > section:nth-of-type(2) {
    margin-top: 6vh;
    display: grid;
    grid-template-columns: 0.15fr 0.7fr 0.15fr;
    background-color: #F4F4F4;
  }
  #public-layout > #homepage > section:nth-of-type(2) #homepage-carousel {
    grid-column: 2/3;
    display: flex;
    flex-direction: row;
    gap: 5em;
  }
  #public-layout > #homepage > section:nth-of-type(2) #homepage-carousel aside {
    padding: 1em;
    background-color: white;
    border-radius: 0.5em;
    width: 100%;
  }
  #public-layout > #homepage > section:nth-of-type(2) #homepage-carousel aside header {
    padding-bottom: 1em;
  }
  #public-layout > #homepage > section:nth-of-type(2) #homepage-carousel aside header h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: #FDCD11 0.5em solid;
    color: #034076;
  }
  #public-layout > #homepage > section:nth-of-type(2) #homepage-carousel aside article {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    border-bottom: #F4F4F4 0.2em solid;
    padding: 1em;
  }
  #public-layout > #homepage > section:nth-of-type(2) #homepage-carousel aside article span {
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    color: #034076;
  }
  #public-layout > #homepage > section:nth-of-type(2) #homepage-carousel aside article p {
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
  }
  #public-layout > #homepage > section:nth-of-type(3) {
    margin-top: 6vh;
    display: grid;
    grid-template-columns: 0.15fr 0.7fr 0.15fr;
    background-color: #F4F4F4;
  }
  #public-layout > #homepage > section:nth-of-type(3) #homepage-actualites {
    grid-column: 2/3;
    display: flex;
    flex-direction: row;
    gap: 5em;
  }
  #public-layout > #homepage > section:nth-of-type(3) #homepage-actualites > section:first-of-type {
    padding: 1em;
    background-color: white;
    border-radius: 0.5em;
  }
  #public-layout > #homepage > section:nth-of-type(3) #homepage-actualites > section:first-of-type header {
    padding-bottom: 1em;
  }
  #public-layout > #homepage > section:nth-of-type(3) #homepage-actualites > section:first-of-type header h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: #FDCD11 0.5em solid;
    color: #034076;
  }
  #public-layout > #homepage > section:nth-of-type(3) #homepage-actualites > section:first-of-type article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3em;
    margin-top: 3vh;
  }
  #public-layout > #homepage > section:nth-of-type(3) #homepage-actualites > section:first-of-type article figure img {
    width: 100%;
    border-radius: 0.5em;
  }
  #public-layout > #homepage > section:nth-of-type(3) #homepage-actualites > section:first-of-type article section {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  #public-layout > #homepage > section:nth-of-type(3) #homepage-actualites > section:first-of-type article section header {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }
  #public-layout > #homepage > section:nth-of-type(3) #homepage-actualites > section:first-of-type article section header a {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    background-color: #034076;
    color: white;
    border-radius: 1em;
    text-decoration: none;
    padding: 0.5em;
  }
  #public-layout > #homepage > section:nth-of-type(3) #homepage-actualites > section:first-of-type article section header span {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    align-self: center;
  }
  #public-layout > #homepage > section:nth-of-type(3) #homepage-actualites > section:first-of-type article section h3 {
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    font-weight: 800;
    text-transform: uppercase;
  }
  #public-layout > #homepage > section:nth-of-type(3) #homepage-actualites > section:first-of-type article section p {
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
  }
  #public-layout > #homepage > section:nth-of-type(3) #homepage-actualites aside {
    width: 50vw;
    padding: 1em;
    background-color: white;
    border-radius: 0.5em;
  }
  #public-layout > #homepage > section:nth-of-type(3) #homepage-actualites aside header {
    padding-bottom: 1em;
  }
  #public-layout > #homepage > section:nth-of-type(3) #homepage-actualites aside header h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: #FDCD11 0.5em solid;
    color: #034076;
  }
  #public-layout > #homepage > section:last-of-type {
    margin-top: 6vh;
    padding: 2em 0 2em 0;
    display: grid;
    grid-template-columns: 0.15fr 0.7fr 0.15fr;
    background-color: white;
  }
  #public-layout > #homepage > section:last-of-type #partenaires {
    grid-column: 2/3;
  }
  #public-layout > #homepage > section:last-of-type #partenaires header {
    padding-bottom: 1em;
  }
  #public-layout > #homepage > section:last-of-type #partenaires header h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: #FDCD11 0.5em solid;
    color: #034076;
  }
  #public-layout > #homepage > section:last-of-type #partenaires > section {
    display: flex;
    flex-direction: row;
    gap: 5em;
  }
  #public-layout > #homepage > section:last-of-type #partenaires > section figure img {
    width: 100%;
    border-radius: 0.5em;
  }
}
@media (min-width: 1024px) and (max-width: 1439.99px) {
  #footer-client {
    display: grid;
    grid-template-columns: 0.1fr 0.9fr;
    background-color: #034076;
    height: 20vh;
    width: 100vw;
  }
  #footer-client figure {
    display: grid;
  }
  #footer-client figure img {
    justify-self: center;
    align-self: center;
    width: auto;
  }
  #footer-client section {
    display: flex;
    flex-direction: row;
    gap: 10em;
    justify-content: center;
    align-content: center;
  }
  #footer-client section section {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  #footer-client section section h1 {
    color: white;
    font-family: "Open Sans", sans-serif;
  }
  #footer-client section section ul li a {
    color: white;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
  }
}
@media (min-width: 1440px) {
  #footer-client {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    background-color: #034076;
    height: 15vh;
    width: 100vw;
    bottom: 0;
  }
  #footer-client figure {
    display: grid;
  }
  #footer-client figure img {
    justify-self: center;
    align-self: center;
    width: auto;
  }
  #footer-client section {
    display: flex;
    flex-direction: row;
    gap: 10em;
    padding-left: 5em;
  }
  #footer-client section section {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-self: center;
  }
  #footer-client section section h1 {
    color: white;
    font-family: "Open Sans", sans-serif;
  }
  #footer-client section section ul li a {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1.1em;
    text-decoration: none;
  }
}
@media (max-width: 426px) {
  #admin-header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 13vh;
    width: 100vw;
    background-color: white;
    box-shadow: 0px 5px 5px 0 rgba(48, 68, 78, 0.1);
  }
  #admin-header h1 {
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
    align-self: center;
    justify-self: center;
  }
  #admin-header ul {
    justify-self: center;
  }
  #admin-header ul li {
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
    padding-top: 0.5em;
    text-align: center;
  }
  #admin-header ul li a {
    font-size: 0.7em;
    font-weight: bold;
    text-decoration: none;
    color: red;
    text-align: center;
  }
}
@media (min-width: 427px) and (max-width: 767px) {
  #admin-header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 13vh;
    width: 100vw;
    background-color: white;
    box-shadow: 0px 5px 5px 0 rgba(48, 68, 78, 0.1);
  }
  #admin-header h1 {
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
    align-self: center;
    justify-self: center;
  }
  #admin-header ul {
    justify-self: center;
  }
  #admin-header ul li {
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
    padding-top: 0.5em;
    text-align: center;
  }
  #admin-header ul li a {
    font-size: 0.7em;
    font-weight: bold;
    text-decoration: none;
    color: red;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1023.99px) {
  #admin-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 13vh;
    width: 100vw;
    background-color: white;
    box-shadow: 0px 5px 5px 0 rgba(48, 68, 78, 0.1);
  }
  #admin-header h1 {
    padding-left: 3em;
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
    align-self: center;
  }
  #admin-header ul {
    justify-self: end;
  }
  #admin-header ul li {
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
    padding-right: 3em;
    padding-top: 0.5em;
  }
  #admin-header ul li a {
    font-size: 0.7em;
    font-weight: bold;
    text-decoration: none;
    color: red;
  }
}
@media (min-width: 1024px) and (max-width: 1439.99px) {
  #admin-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 13vh;
    width: 100vw;
    background-color: white;
    box-shadow: 0px 5px 5px 0 rgba(48, 68, 78, 0.1);
  }
  #admin-header h1 {
    padding-left: 3em;
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
    align-self: center;
  }
  #admin-header ul {
    justify-self: end;
  }
  #admin-header ul li {
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
    padding-right: 3em;
    padding-top: 0.5em;
  }
  #admin-header ul li a {
    font-size: 0.7em;
    font-weight: bold;
    text-decoration: none;
    color: red;
  }
}
@media (min-width: 1440px) {
  #admin-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 10vh;
    width: 100vw;
    background-color: white;
    box-shadow: 0px 5px 5px 0 rgba(48, 68, 78, 0.1);
  }
  #admin-header h1 {
    padding-left: 3em;
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
    align-self: center;
  }
  #admin-header ul {
    justify-self: end;
  }
  #admin-header ul li {
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
    padding-right: 3em;
    padding-top: 0.5em;
  }
  #admin-header ul li a {
    font-size: 0.7em;
    font-weight: bold;
    text-decoration: none;
    color: red;
  }
}
@media (max-width: 426px) {
  html {
    font-size: 14px;
    scroll-behavior: smooth;
  }
  #admin-layout {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }
}
@media (min-width: 768px) and (max-width: 1023.99px) {
  html {
    font-size: 14px;
    scroll-behavior: smooth;
  }
  #admin-layout {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }
}
@media (min-width: 1024px) and (max-width: 1439.99px) {
  html {
    font-size: 14px;
    scroll-behavior: smooth;
  }
  #admin-layout {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }
  #admin-layout .sr-only {
    display: none;
  }
  #admin-layout #admin-login {
    height: 80vh;
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    justify-content: center;
  }
  #admin-layout #admin-login h1 {
    margin-top: 8vh;
    grid-column: 2/3;
    text-align: center;
    align-self: center;
  }
  #admin-layout #admin-login #login-form {
    justify-self: center;
    width: auto;
    grid-column: 2/3;
  }
  #admin-layout #admin-login #login-form #login-button {
    padding-top: 2em;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 14px;
    scroll-behavior: smooth;
  }
  #admin-layout {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }
  #admin-layout #admin-login {
    height: 80vh;
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    justify-content: center;
  }
  #admin-layout #admin-login h1 {
    grid-column: 2/3;
    justify-self: center;
    align-self: end;
  }
  #admin-layout #admin-login #login-form {
    justify-self: center;
    margin-top: 3vh;
    width: 30vw;
    grid-column: 2/3;
  }
  #admin-layout #admin-login #login-form #login-button {
    padding-top: 2em;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 426px) {
  #admin-aside {
    height: 80vh;
    display: flex;
  }
  #admin-aside aside {
    margin-top: 5em;
    padding-left: 3em;
  }
  #admin-aside aside h1 {
    margin-bottom: 1.5em;
    font-family: "Roboto", sans-serif;
  }
  #admin-aside aside nav ul li {
    font-size: 1.2em;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    padding-left: 1.5em;
    padding-bottom: 1em;
  }
}
@media (min-width: 427px) and (max-width: 767px) {
  #admin-aside {
    height: 80vh;
    display: flex;
  }
  #admin-aside aside {
    margin-top: 5em;
    padding-left: 3em;
  }
  #admin-aside aside h1 {
    margin-bottom: 1.5em;
    font-family: "Roboto", sans-serif;
  }
  #admin-aside aside nav ul li {
    font-size: 1.2em;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    padding-left: 1.5em;
    padding-bottom: 1em;
  }
}
@media (min-width: 768px) and (max-width: 1023.99px) {
  #admin-aside {
    height: 80vh;
    display: flex;
  }
  #admin-aside aside {
    margin-top: 5em;
    padding-left: 3em;
  }
  #admin-aside aside h1 {
    margin-bottom: 1.5em;
    font-family: "Roboto", sans-serif;
  }
  #admin-aside aside nav ul li {
    font-size: 1.2em;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    padding-left: 1.5em;
    padding-bottom: 1em;
  }
}
@media (min-width: 1024px) and (max-width: 1439.99px) {
  #admin-aside {
    height: 80vh;
    display: flex;
  }
  #admin-aside aside {
    margin-top: 5em;
    padding-left: 3em;
  }
  #admin-aside aside h1 {
    margin-bottom: 1.5em;
    font-family: "Roboto", sans-serif;
  }
  #admin-aside aside nav ul li {
    font-size: 1.2em;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    padding-left: 1.5em;
    padding-bottom: 1em;
  }
}
@media (min-width: 1440px) {
  #admin-aside {
    height: 80vh;
    display: flex;
  }
  #admin-aside aside {
    margin-top: 5em;
    padding-left: 3em;
  }
  #admin-aside aside h1 {
    margin-bottom: 1.5em;
    font-family: "Roboto", sans-serif;
  }
  #admin-aside aside nav ul li {
    font-size: 1.2em;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    padding-left: 1.5em;
    padding-bottom: 1em;
  }
}
@media (min-width: 425px) and (max-width: 767.99px) {
  #admin-layout main {
    height: 60vh;
  }
  #admin-layout main .section-btn {
    display: flex;
    flex-direction: row;
    align-self: center;
  }
  #admin-layout main .section-btn button {
    margin: auto;
    padding: auto;
    border: 0;
    background: none;
  }
  #admin-layout main .section-btn button .btn-warning {
    width: 30vw;
    height: 5vh;
    font-weight: bold;
    font-size: 1.1em;
    color: rgb(33, 33, 170);
  }
  #admin-layout main table {
    grid-column: 2/3;
  }
  #admin-layout main table thead tr th {
    text-align: center;
    font-weight: 600;
  }
  #admin-layout main table tbody tr td {
    text-align: center;
  }
  #admin-layout main table tbody tr .actions {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    justify-content: center;
  }
  #admin-layout main section {
    grid-column: 2/3;
    align-content: center;
    justify-self: center;
  }
  #admin-layout main section h1 {
    margin-top: 3vh;
    grid-column: 2/3;
    justify-self: center;
    text-align: center;
  }
  #admin-layout main section form {
    justify-self: center;
    grid-column: 2/3;
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: auto;
  }
  #admin-layout main section form fieldset {
    border: 0;
  }
  #admin-layout main section form fieldset label {
    font-size: 1.1em;
  }
  #admin-layout main section form fieldset input {
    text-align: center;
  }
  #admin-layout main section form fieldset figure img {
    width: 100%;
  }
  #admin-layout main section form .submit {
    display: flex;
    justify-content: center;
  }
  #admin-layout main section form .submit .btn-primary {
    width: auto;
    font-weight: 600;
    font-size: 1.1em;
  }
}
@media (min-width: 768px) and (max-width: 1023.99px) {
  #admin-layout main {
    height: 60vh;
  }
  #admin-layout main .section-btn {
    display: flex;
    flex-direction: row;
    align-self: center;
  }
  #admin-layout main .section-btn button {
    margin: auto;
    padding: auto;
    border: 0;
    background: none;
  }
  #admin-layout main .section-btn button .btn-warning {
    width: 15vw;
    height: 5vh;
    font-weight: bold;
    font-size: 1.1em;
    color: rgb(33, 33, 170);
  }
  #admin-layout main table {
    grid-column: 2/3;
  }
  #admin-layout main table thead tr th {
    text-align: center;
    font-weight: 600;
  }
  #admin-layout main table tbody tr td {
    text-align: center;
  }
  #admin-layout main table tbody tr .actions {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    justify-content: center;
  }
  #admin-layout main section {
    grid-column: 2/3;
    align-content: center;
    justify-self: center;
  }
  #admin-layout main section h1 {
    margin-top: 3vh;
    grid-column: 2/3;
    justify-self: center;
    text-align: center;
  }
  #admin-layout main section form {
    justify-self: center;
    grid-column: 2/3;
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: auto;
  }
  #admin-layout main section form fieldset {
    border: 0;
  }
  #admin-layout main section form fieldset label {
    font-size: 1.1em;
  }
  #admin-layout main section form fieldset input {
    text-align: center;
  }
  #admin-layout main section form fieldset figure img {
    width: 100%;
  }
  #admin-layout main section form .submit {
    display: flex;
    justify-content: center;
  }
  #admin-layout main section form .submit .btn-primary {
    width: 10vw;
    font-weight: 600;
    font-size: 1.1em;
  }
}
@media (min-width: 1024px) and (max-width: 1439.99px) {
  #admin-layout main {
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 9fr;
  }
  #admin-layout main .section-btn {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-self: center;
  }
  #admin-layout main .section-btn button {
    grid-column: 1/2;
    margin: auto;
    padding: auto;
    border: 0;
    background: none;
  }
  #admin-layout main .section-btn button .btn-warning {
    width: 16vw;
    height: 4vh;
    font-weight: bold;
    font-size: 1.1em;
    color: rgb(33, 33, 170);
  }
  #admin-layout main table {
    grid-column: 2/3;
  }
  #admin-layout main table thead tr th {
    text-align: center;
    font-weight: 600;
  }
  #admin-layout main table tbody tr td {
    text-align: center;
  }
  #admin-layout main table tbody tr .actions {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    justify-content: center;
  }
  #admin-layout main section {
    grid-column: 2/3;
    align-content: center;
    justify-self: center;
  }
  #admin-layout main section h1 {
    margin-top: 3vh;
    grid-column: 2/3;
    justify-self: center;
    text-align: center;
  }
  #admin-layout main section form {
    justify-self: center;
    grid-column: 2/3;
    margin-top: 3vh;
    width: 20vw;
  }
  #admin-layout main section form fieldset {
    border: 0;
  }
  #admin-layout main section form fieldset label {
    font-size: 1.1em;
  }
  #admin-layout main section form fieldset input {
    text-align: center;
  }
  #admin-layout main section form fieldset figure img {
    width: 100%;
  }
  #admin-layout main section form .submit {
    display: flex;
    justify-content: center;
  }
  #admin-layout main section form .submit .btn-primary {
    width: 10vw;
    font-weight: 600;
    font-size: 1.1em;
  }
}
@media (min-width: 1440px) {
  #admin-layout main {
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 9fr;
  }
  #admin-layout main .section-btn {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-self: center;
  }
  #admin-layout main .section-btn button {
    grid-column: 1/2;
    margin: auto;
    padding: auto;
    border: 0;
    background: none;
  }
  #admin-layout main .section-btn button .btn-warning {
    width: 12vw;
    height: 4vh;
    font-weight: bold;
    font-size: 1.1em;
    color: rgb(33, 33, 170);
  }
  #admin-layout main table {
    grid-column: 2/3;
  }
  #admin-layout main table thead tr th {
    text-align: center;
    font-weight: 600;
  }
  #admin-layout main table tbody tr td {
    text-align: center;
  }
  #admin-layout main table tbody tr .actions {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    justify-content: center;
  }
  #admin-layout main section {
    grid-column: 2/3;
    align-content: center;
    justify-self: center;
  }
  #admin-layout main section h1 {
    margin-top: 3vh;
    grid-column: 2/3;
    justify-self: center;
    text-align: center;
  }
  #admin-layout main section form {
    justify-self: center;
    grid-column: 2/3;
    margin-top: 3vh;
    width: 20vw;
  }
  #admin-layout main section form fieldset {
    border: 0;
  }
  #admin-layout main section form fieldset label {
    font-size: 1.1em;
  }
  #admin-layout main section form fieldset input {
    text-align: center;
  }
  #admin-layout main section form fieldset figure img {
    width: 100%;
  }
  #admin-layout main section form .submit {
    display: flex;
    justify-content: center;
  }
  #admin-layout main section form .submit .btn-primary {
    width: 10vw;
    font-weight: 600;
    font-size: 1.1em;
  }
}

/*# sourceMappingURL=style.css.map */
